target
.apt_generated
.settings
.classpath
.factorypath
.project
.metadata
.recommenders
.springBeans
.class
bin
temp
RemoteSystemsTempFiles
*.iml
.sonarlint

# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
node_modules
.idea/
.vscode
.history
build
tmp
dist
