<div class="container">

    <h1>Registrazione</h1>

    <div class="error" *ngIf="error">{{error}}</div>

    <form (ngSubmit)="registration()" #myForm="ngForm" [hidden]="submitted">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Il campo Nome è obbligatorio
            </div>
        </div>
        <div class="form-group">
            <label for="surname">Cognome</label>
            <input type="text" class="form-control" id="surname" required [(ngModel)]="model.surname" name="surname" #surname="ngModel">
            <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                Il campo Cognome è obbligatorio
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Il campo E-mail è obbligatorio
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Il campo Password è obbligatorio
            </div>
        </div>
        <div class="form-group">
            <label for="venue">Sede</label>
            <select class="form-control" id="venue" required [(ngModel)]="model.venue" name="venue" #venue="ngModel">
                <div [hidden]="venue.valid || venue.pristine" class="alert alert-danger">
                    Il campo Sede è obbligatorio
                </div>
                <option *ngFor="let sede of sedi" [value]="sede">{{sede}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="myForm.form.invalid">Invia</button>
    </form>

    <div class="loading" *ngIf="submitted"></div>
</div>

