<div class="container" [hidden]="submitted">
    <h2>Inserisci evento</h2>
    <h3><i>Inserisci un nuovo evento</i></h3>
    <form [formGroup]="eventForm" novalidate>
        <div class="form-group">
            <label class="center-block">Tipo:
                <select class="form-control" formControlName="type">
                    <option value=""></option>
                    <option *ngFor="let t of eventTypes" [value]="t">{{t}}</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Titolo:
                <input class="form-control" formControlName="title" data-error="Bruh, that email address is invalid">
            </label>
            <div *ngIf="eventForm.controls.title.dirty && eventForm.controls.title.hasError('required')" class="input-error-message">Campo obbligatorio</div>
        </div>
        <div class="form-group">
            <label class="center-block">Descrizione:
                <textarea rows="3" class="form-control" formControlName="description"></textarea>
            </label>
            <div *ngIf="eventForm.controls.description.dirty && eventForm.controls.description.hasError('required')" class="input-error-message">Campo obbligatorio</div>
        </div>
        <div class="form-group">
            <label class="center-block">Note:
                <textarea rows="2" class="form-control" formControlName="annotation"></textarea>
            </label>
        </div>

        <subform-speaker [parentForm]="eventForm"></subform-speaker>

        <div class="form-group">
            <button type="button" class="btn btn-warning" (click)="eventForm.reset()">Reset</button>
            <button type="button" class="btn btn-success" (click)="addEvent()" [disabled]="eventForm.pending || eventForm.invalid">Invia</button>
        </div>
    </form>
    <p>Form value: {{ eventForm.value | json }}</p>
    <p>Form status: {{ eventForm.status | json }}</p>
    <p>Form pristine: {{ eventForm.pristine | json }}</p>
    <p>Form touched: {{ eventForm.touched | json }}</p>
</div>