.event-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    display: flex;
    align-content: left;
    justify-content: left;
    flex-direction: row;
    margin:0.5em;
    padding:0.5em;
    border:1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    .principale {
        display: flex;
        flex-direction: column;
        width: 0px; 
        flex: 1 0 auto;
    }
    .stretta {
        flex: 0 1 auto;
    }
    .preview {
        max-width: 150px;
        min-width: 150px;
    }
    .star{
        position:absolute;
        top:3px;
        right:3px;
        font-size: 1.2em;
        
    }

    .btn-event-detail{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}