.home {}

.logo {
    width: 30vh;
    height: 30vh;
    margin: auto;
    display: block;
}

.hello {
    font-family: monospace;
    font-weight: 700;
    font-size: 1.1em;
}

.dettaglio {
    font-family: 'Open Sans', sans-serif;
    width: 60vw;
    margin: auto;
    transform: rotatez(-5deg);
    text-align: justify;
    margin-top: -2em;
}

.footer-bg {
    position: absolute;
    bottom: 0px;
}

.join-us {
    margin: auto;
    margin-top: 1em;
    .input-group {
        margin: auto;
        max-width: 400px;
    }
    .invia {
        display: block;
        margin: auto;
        margin-top: 0.5em;
    }
}