<div class="container">
    <h2>{{title}}</h2>
    <div class="loading" *ngIf="loading"></div>
    <ng-container *ngIf="!loading">
        <div class="row">
            <div class="col-xs-3">Nome</div>
            <div class="col-xs-9 pull-left">{{model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Cognome</div>
            <div class="col-xs-9 pull-left">{{model.surname}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">E-mail</div>
            <div class="col-xs-9 pull-left">{{model.email}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Sede</div>
            <div class="col-xs-9 pull-left">{{model.venue}}</div>
        </div>
        <br>
        <ng-container *ngIf="!lookup">
            <button class="btn btn-success" routerLink="/home">Indietro</button>
            <button class="btn btn-success" (click)="logout()">Logout</button>
        </ng-container>
    </ng-container>
</div>