<div class="container">
    <h2>Utente</h2>
    <div class="loading" *ngIf="loading"></div>
    <div class="error" *ngIf="error">{{error}}</div>
    <ng-container *ngIf="!loading && ! error">
        <div class="row">
            <div class="col-xs-3">Nome</div>
            <div class="col-xs-9 pull-left">{{model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Cognome</div>
            <div class="col-xs-9 pull-left">{{model.surname}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">E-mail</div>
            <div class="col-xs-9 pull-left">{{model.email}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Sede</div>
            <div class="col-xs-9 pull-left">{{model.venue}}</div>
        </div>
        <br>
    </ng-container>
    <button class="btn btn-success" routerLink="/home">Indietro</button>
</div>